#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Outfit", sans-serif;
  border-radius: 0px;
  font-size: 18px;
}

th,
td {
  padding-left: 1rem;
  padding-right: 1rem;
}

table {
  border-collapse: collapse;
}
