.kavel-textarea {
    width: 100%;
    background-color: #9ca3af;
    padding: 1rem;
    color: rgb(0, 0, 0);
    border: 1px solid #9ca3af;
    outline: none;
    resize: none;
}

.kavel-textarea::placeholder {
    color: #4b5563;
}

.kavel-textarea:focus {
    border-color: #4b5563;
}